<%= form_for @artist do |f| %>
  <%= render 'shared/form_errors', target: @artist %>
  <div class="field">
    <%= f.label "Artist's Name" %><br>
    <%= f.text_field :name %>
  </div><br>
  <div class="field">
    <%= f.label "Artist's Website (enter None for No Website)" %><br>
    <%= f.text_field :website %>
  </div><br>
  <div class="field">
    <%= f.label "Where did you find this Artist?" %><br>
    <%= f.text_field :discovered %>
  </div><br>
  <div class="field">
    <%= f.label "Rating (choose 1 - 5)" %><br>
    <%= f.select :rating, (1..5) %>
  </div><br>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, size: "24x6" %>
  </div><br>
    <%= f.submit class: 'btn btn-success' %>
<% end %>
<br>
