<%= form_for @artist do |f| %>
  <%= render 'shared/form_errors', target: @artist %>
  <div class="field">
    <%= f.label "Artist's Name:" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Artist's Website:" %>
    <%= f.text_field :website, {placeholder: "leave blank for No Website"} %>
  </div>
  <div class="field">
    <%= f.label "Discovered:" %>
    <%= f.text_field :discovered, {placeholder: "Gallery Nucleus, Craft Show"} %>
  </div>
  <div class="field">
    <%= f.label "Rating (5 being best):" %>
    <%= f.select :rating, (1..5) %>
  </div>
  <div class="field">
    <%= f.label "Notes:" %><br>
    <%= f.text_area :notes, size: "24x6" %>
  </div>
    <%= f.submit class: 'btn btn-success' %>
<% end %>
