<div class="container_show">
  <h1>All Artists</h1>

  <div class="adding_objects">
    <p><%= pluralize(@artists.count, 'Artists') %></p>
    <%= link_to "Add a New Artist", new_artist_path, class:'btn btn-link btn-md' %>
  </div>
</div>

<!-- list all artists; filter by abc order last name and first name; add artist's website link -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>Artist's Name</th>
      <th>Artist's Artworks</th>
      <th>Website</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @artists.each do |a| %>
    <tr>
      <td><%= link_to a.name, artist_path(a) %></td>
      <td><%= link_to 'Artworks', artist_artworks_path(a) %></td>
      <td><%= a.website %></td>
      <td><%= a.rating %></td>
    </tr>
    <% end %>
  </tbody>
</table>
