<%= form_for([@artist, @artwork]) do |f| %>
  <%= render 'shared/form_errors', target: @artwork %>
  <div class="field">
    <%= f.label "Title:" %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label "Exhibition:" %>
    <%= f.text_field :exhibition, {placeholder: "enter None for None"} %>
  </div>

  <div class="field">
<!-- text input for new medium -->
    <div class="add_medium">
      <%= f.label "Add a New Medium:" %>
      <%= f.fields_for :media, @artwork.media.build do |medium_fields| %>
        <%= medium_fields.text_field :name, {placeholder: "acrylic, oil, mixed, etc."} %>
      <% end %>
    </div>
<!-- checkbox for exisiting media if medium.checked?-->
    <div class="show_collection">
      <%= f.collection_check_boxes :medium_ids, Medium.all, :id, :name do |b|%>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= f.label "Rating (5 being best):" %>
    <%= f.select :rating, (1..5) %>
  </div>

  <div class="field">
    <%= f.label "Comments:" %><br>
    <%= f.text_area :comments, size: "24x6" %>
  </div>

  <div class="field">
    <%= f.label "Do you own this artwork?"%>
    <%= f.radio_button :user_owned, "Yes" %> Yes <%= f.radio_button :user_owned, "No" %> No
  </div>

  <span>If you do own this, please answer the questions below. Otherwise, leave blank. </span>
  <div class="container_ownership">
    <div class="field">
  <!-- if user does own the artwork, show signed and original fields -->
      <br>
      <%= f.label "Is it signed?" %>
      <%= f.radio_button :signed, "Yes" %> Yes <%= f.radio_button :signed, "No" %> No
    </div>

    <div class="field">
      <%= f.label "Original or Print?" %>
      <%= f.radio_button :original, "Original" %> Original <%= f.radio_button :original, "Print" %> Print
    </div>
  </div>

    <%= f.submit class: 'btn btn-success' %>
<% end %>
