<div class="container_show">
  <h4> <%= @artist.name %>'s Artworks </h4>
  
  <div class="adding_objects">
    <p><%= pluralize(@artist.artworks.count, 'Artworks') %></p>
    <%= link_to "Add New Artwork", new_artist_artwork_path(@artist), class:'btn btn-link btn-sm' %>
  </div>
</div>

<table class="table table-hover sortable">
  <thead>
    <tr>
      <!-- <th>Image</th> -->
      <th>Title</th>
      <th>Do I have this?</th>
    </tr>
  </thead>
  <tbody>
    <%= @artist.artworks.each do |work| %>
    <tr>
      <!-- show image -->
      <td><%= link_to work.title, artist_artwork_path(@artist, work) %></td>
      <td><%= work.user_owned %></td>
    </tr>
    <% end %>
  </tbody>
</table>
