<!-- list artist's artwork in table format? -->

<h3> <%= @artist.name %>'s Artworks </h3>

<%= pluralize(@artist.artworks.count, 'Artworks') %> | <%= link_to "Add New Artwork", new_artist_artwork_path(@artist) %><br>

<p> sort by media, title, user_owned </p>

<%= @artist.artworks.each do |work| %>
  <h3> <%= link_to work.title, artist_artwork_path(@artist, work) %> </h3>
  <p> Do I own this? <%= work.user_owned %> </p>
<% end %>
