<%= render :partial => 'artworksIndexBodyHeader' %>

<div class="content">
  <table class="table table-hover sortable">
    <thead>
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Exhibition</th>
        <th>Do I have this?</th>
        <th>Rating</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @artist.artworks.each do |work| %>
      <tr>
          <td><%= image_tag work.images.url(:thumb), class:"artwork_show_link" %></td>
          <td><%= link_to work.title, artist_artwork_path(@artist, work), class:"artwork_show_link" %></td>
          <td><%= link_to work.exhibition, artist_artwork_path(@artist, work), class:"artwork_show_link" %></td>
          <td><%= work.user_owned %></td>
          <td><%= work.rating %></td>
          <td><%= link_to "Edit", edit_artist_artwork_path(@artist, work), id:"update_artwork", class:"artist_show_link" %></td>
          <td><%= link_to "Delete", artist_artwork_path(@artist, work), id:"delete_artwork", method: :delete, data: {confirm: "Are you sure you want to delete `#{work.title}`?"} %></td>
      <% end %>
    </tbody>
  </table>
</div>
