<h2> <%= @artwork.title %> </h2>
<p> Exhibition: <%= @artwork.exhibition %> </p>
<p> Medium: <%= @artwork.medium %> </p>
<p> Rating: <%= @artwork.rating %> </p>
<p> Comments: <%= @artwork.comments %> </p>

<h4>You own this artwork</h4>
<p> Do I own this? <%= @artwork.user_owned %> </p>
<p> Signed? <%= @artwork.signed %> </p>
<p> Original or Print? <%= @artwork.original %> </p>
