<div class="container_show">
  <h4> <%= @artist.name %> </h4>
</div>

<div class='row'>
  <div class="col-md-6">
    <div class="images">
      <%= image_tag("star.png", alt: "star", size: "325x325") %>
    </div>
    <div class="btn-group">
      <p>Add an image (coming soon)</p>
      <!-- <%= link_to "Add an image", class:'btn btn-link btn-sm' %>
      <%= link_to "Edit image", class:'btn btn-link btn-sm' %> -->
    </div>
  </div>

  <div class="col-md-6">
    <h2> <%= @artwork.title %> </h2>
    <p> Exhibition: <%= @artwork.exhibition %> </p>
    <% @artwork.media.each do |medium| %>
      <p> Medium: <%= medium.name %> </p>
    <% end %>
    <p> Rating: <%= @artwork.rating %> </p>
    <p> Comments: <%= @artwork.comments %> </p>

    <span>You own this artwork</span>
    <p> Do I own this? <%= @artwork.user_owned %> </p>
    <p> Signed? <%= @artwork.signed %> </p>
    <p> Original or Print? <%= @artwork.original %> </p>

    <div class="btn-group">
      <%= link_to "Show All #{@artist.name} Artworks", artist_path(@artist), class:'btn btn-link btn-sm' %>
      <%= link_to "Edit Artwork", edit_artist_artwork_path, class:'btn btn-link btn-sm' %>
      <%= link_to "Delete Artwork", artist_artwork_path, method: :delete, data: {confirm: "Are you sure you want to delete this Artwork?"}, class:'btn btn-link btn-sm' %>
    </div>
  </div>
</div>
