<div class="container_show">
  <h1>Profile</h1>
  <%= render :partial => 'shared/flash_messages' %>
</div>

<div class="container_profile">
  <h4> Hello, <%= @user.name.titlecase %>! </h4>
  <p>Email: <%= @user.email %> </p>

  <div class="btn-group">
    <%= link_to "Edit Account", edit_user_path, class: 'btn btn-link btn-sm' %>
    <%= link_to "Delete Account", @artist, method: :delete, data: {confirm: "Are you sure you want to delete your Account?"}, class: 'btn btn-link btn-sm' %></p>
  </div>
</div>
