<div class="container_show">
  <h1>Fairs & Galleries</h1>

  <div class="adding_objects">
    <p><%= pluralize(@places.count, 'Places') %></p>
    <%= link_to "Add a New Fair/Gallery", new_place_path, class:'btn btn-link btn-md' %>
  </div>
</div>

<%= render :partial => 'shared/flash_messages' %>

<!-- list all artists; filter by abc order last name and first name; add artist's website link -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Type of Event</th>
      <th>Seasons</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @places.each do |event| %>
    <tr>
      <td><%= link_to event.name, place_path(event) %></td>
      <td><%= event.website %></td>
      <td><%= event.event_type %></td>
      <td><%= event.season %></td>
      <td><%= event.rating %></td>
    </tr>
    <% end %>
  </tbody>
</table>
