<!DOCTYPE html>
<html>
  <head>
    <title>Artphilia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Della+Respira" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div id="main-container" class="container-fluid">
       <% flash.each do |name, msg| %>
         <%= content_tag :div, msg, class: "alert alert-#{name}" %>
       <% end %>
      <%= yield %>
    </div>

    <footer>
      <div class="container">
        <a href='https://github.com/christinetran825'> Design by Christine </a>
      </div>
    </footer>

  </body>

</html>
